.map-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 26.25%; /* 16:9 aspect ratio */
    width: 70%;
  }
  
  .map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Full width of container */
    height: 80%; /* Full height of container */
    border: 0;
  }
  
